body {
    font-family: Lato, sans-serif;
    color: #555;
    line-height: 1.6;
    letter-spacing: 1.1;
}

a:focus,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    outline: none
}

input:focus {
    outline: none;
    box-shadow: unset !important
}









/* start topbar */

.top-bar {
    font-size: 12px;
    border-bottom: 1px solid #eee
}

.top-bar .row>div {
    height: 44px;
    line-height: 44px;
    padding: 0 !important
}

.log {
    transition: background-color .3s ease
}

.log a {
    color: #777;
}

.log:hover {
    background-color: #eee
}

.log .log-form {
    top: 44px;
    right: 0;
    border-top: 1px solid #1abc9c;
    padding: 25px;
    width: 280px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    z-index: 9999;
    display: none;
}

.log .log-form .form-check {
    font-size: 13px;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 2.25rem;
    cursor: pointer;
    line-height: 20px
}

.log .form-check .form-check-label {
    cursor: pointer;
    margin-top: 3px;
}

.log .log-form button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* end topbar */










/* start header */


.navbar-brand {
    font-size: 2.3rem;
    letter-spacing: 1.6;
    color: rgba(0, 0, 0, 0.7) !important;
    transition: all .3 ease-in-out;
}


.navbar button:focus {
    outline: none
}

.navbar input[type="search"] {
    width: 97%;
    padding: 10px;
    font-size: 1.7rem;
    outline: none;
    box-shadow: unset;
    display: none;
    transition: all .3s ease
}

.navbar i {
    cursor: pointer;
}

.fa-times {
    cursor: pointer;
    display: none
}

.cart {
    transition: color .3s ease;
}

.cart::after {
    position: absolute;
    top: -10px;
    left: 11px;
    display: inline-block;
    content: "5";
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background-color: #1abc9c;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
}

.cart:hover {
    color: #1abc9c
}

@media (min-width: 992px) {

    .navbar ul li,
    .navbar .dropdown-menu a {
        border: none !important
    }
}

.navbar ul li a {
    line-height: 22px;
    color: #444 !important;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: Raleway, sans-serif;
    transition: all .3s ease, padding .3s ease;
}

.dropdown-menu a {
    font-size: 11px !important;
    color: #666 !important;
    transition: all .3s ease
}

.dropdown-menu a:not(:first-of-type):hover {
    padding-left: 10px !important
}

.dropdown-menu h6 {
    font-size: 13px;
    color: #000;
    transition: color .3s ease
}

.navbar ul li.active a,
.navbar ul li a:hover,
.navbar ul li a:hover h6 {
    color: #1abc9c !important;
}

.drop-div-img {
    height: 348px;
}

.drop-div-img>img {
    -o-object-fit: cover;
    object-fit: cover;
}

/* end header */


.dropdown-menu {
    border: none;
    border-top: 1px solid #1abc9c;
    box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
    left: -350%;
}

@media (min-width: 992px) {
    .dropdown-menu {
        width: 900px !important;
    }
}












.carousel-sec {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
    padding-bottom: 30px
}

.carousel-item,
.carousel-item .carou-itm-content {
    min-height: 100%;
}

.carousel-item>div {
    background-color: rgb(233, 232, 227);

}

.carousel-item:first-of-type>div {
    background-color: #f0edf4;
}

.carousel-item:first-of-type>div .carou-itm-content p {
    max-width: 80%
}

.carousel-item:first-of-type>div .woman-img {
    width: 40%;
    top: 0;
    left: 0;
}

.carousel-item .bag {
    width: 30%;
    height: 70%;
    top: 15%;
    bottom: 30%;
    right: 4%;
    -o-object-fit: contain;
    object-fit: contain;
}

.carousel-item .tag {
    width: 9%;
    top: -5%;
    left: 50%;
}

.carou-itm-content h6 {
    font-size: 1.3vw;
    letter-spacing: 1.3px;
    color: #777
}

.carou-itm-content h2 {
    color: #333;
    font-size: 5vw;
    margin-left: 3px
}

.carou-itm-content p {
    color: rgb(51, 51, 51);
    font-size: 1.5vw;
    letter-spacing: .3px
}

.carou-itm-content button {
    color: #000;
    border: 1.5px solid #777;
    font-size: 2vw;
}

/* .carousel-control-prev,
.carousel-control-next{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: calc(50% - 30px);
    background-color: #1abc9c;
} */















.content {
    background-color: #fff
}






.offers {
    padding: 30px 0;
    background-color: #fff;
    z-index: 9;
    position: relative;
}

.offers .wman-clothes {
    height: 255px;
}

.offers .men-clothes {
    height: 244px;
}
















.products-area {
    background-color: #fff;
    padding: 30px 0;
}

.title>div {
    width: 150px;
    height: 40px;
    line-height: 40px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title a {
    display: inline-block;
    padding: 0 5px;
    background-color: #f2f2f2;
    font-size: .9rem;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
}

.title a.active {
    background-color: #fff;
    height: 110%;
    padding-top: 2px
}

.products {
    position: relative;
    left: -15px;
}

.products>div {
    position: relative;
    top: 0;
    left: 15px;
}

.products>div:not(:first-of-type) {
    display: none
}


.card {
    border: unset;
}

.card:hover img {
    transform: scale(1.2);
    opacity: .7;
}

.card:hover .options {
    bottom: 0;
}

.card-img-top {
    width: 100%;
    height: 293px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

.card .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #1abc9c;
    font-size: 14px;
    color: #fff;
    padding: 6px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    border-radius: 2px;
    z-index: 5;
}

.card .options {
    font-size: 14px;
    color: #000;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    background-color: #eee;
    transition: all .3s linear
}

.card .options div {
    display: inline-block;
    text-align: center;
    transition: all .3s linear;
    cursor: pointer;
    width: calc(50% - 2px)
}

.card .options div:hover {
    background-color: #333;
    color: #eee
}

.card .card-body {
    font-weight: 700
}

.card .card-body h5 {
    cursor: pointer;
    transition: all .3s ease;
    display: inline-block
}

.card .card-body h5:hover {
    color: #1abc9c
}

.card .card-body .card-text:not(span) {
    font-size: 19px;
    color: #1abc9c
}

.card .card-body .card-text span {
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    text-decoration: line-through
}











.brands {
    background-color: #fff;
    position: relative;
    padding: 30px 0
}

.brands h5 {
    color: #222;
    position: relative;
    background-color: #fff;
    display: inline-block;
    z-index: 2;
    font-family: Raleway, sans-serif
}

.brands span {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 15px;
    border-top: 1px solid #eee;
    width: 100%;
    z-index: 1;
}

.brands img {
    opacity: .6;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.brands img:hover {
    opacity: 1;
}












.features {
    padding: 60px 0;
    margin-top: 60px;
    background-color: #f9f9f9
}

.features h5 {
    font-family: Raleway, sans-serif;
    font-size: 15px;
    color: #222;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px
}

.features p {
    color: #999;
    line-height: 1.8;
    max-width: 95%;
    font-size: .875rem;
}











.subscribtion {
    padding: 60px 0
}

.subscribtion h3 {
    color: #222;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    letter-spacing: 1px
}

.subscribtion h3~span {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 100;
    color: #777;
    letter-spacing: 1px
}

.subscribtion h3~span::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #444;
}

.subscribtion p {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 1.8
}










footer {
    background-color: #333;
    color: #ccc;
    padding: 60px 0
}

footer .contacts h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #eee
}

footer .contacts p {
    font-size: 14px;
    opacity: .8;
    margin: 10px 0 30px 0
}

footer .contacts>div>span {
    font-size: 14px;
    letter-spacing: .5px
}

footer .contacts>div>span:first-of-type {
    display: block;
    margin-bottom: 12px;
}

footer h4 {
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ddd
}

footer .blog li a {
    color: #bbb;
    transition: all .3s ease;
}

footer .blog li a:hover {
    color: #999
}

footer .socials h5 {
    font-size: 14px;
    font-weight: 300;
    font-family: Raleway, sans-serif;
    margin-top: 15px
}

footer .social-icons .icon-facebook .fa-stack-2x {
    font-size: 2em;
    color: #4267b2
}

footer .social-icons .icon-twitter .fa-stack-2x {
    font-size: 2em;
    color: rgba(29, 161, 242, 1.00);
}

footer .social-icons .icon-linkedin .fa-stack-2x {
    font-size: 2em;
    color: #0077b5
}

footer .social-icons .icon-github .fa-stack-2x {
    font-size: 2em;
    color: #000
}

footer .social-icons .fa-stack-1x {
    color: #fff;

}